# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/

# Ruff cache
.ruff_cache/

# Pytest cache
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/